# Maven target directory
/target/

# Maven build files
#pom.xml
pom.xml.backup
pom.xml.releaseBackup
pom.xml.versionsBackup

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ project files
.idea/
*.iml

# NetBeans project files
/nb-configuration.xml

# Compiled Java class files
*.class

# Logs
*.log

# Temporary files
*.swp

# Exclude folders
/pokemmo-client/
/agent/target/
/client/target/

*.DS_Store